* {
  margin: 0; 
  padding: 0;
}

@font-face {
  src: url(https://github.com/ksenia171/fonts/blob/master/OpenSans-Regular.woff);
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(https://github.com/ksenia171/fonts/blob/master/OpenSans-Bold.woff);
  font-family: OpenSans;
  font-weight: 600;
  font-style: normal;
}

body { 
  font-family: OpenSans, arial, sans-serif;
}

.site-header {
  background-color: #1f2245;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.long-logo-container, .footer-long-logo-container {
  margin-left: auto;
  margin-right: auto;
}

.header-title-group-conteiner {
  margin-bottom: 90px; 
}

.header-title-group {
  color: #ffffff;
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.button-download {
  background-color: #5e42b0;
  border: none;
  border-radius: 90px;
  text-transform: uppercase; 
}

.botton-link {
  display: flex;
  justify-content:  center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #ffffff;
}

.botton-link-text-conteiner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 24px;
}

.botton-link-text-first {
  text-align: left;
}

.botton-link-text-second {
  text-align: left;
  font-weight: bold;
}

.card-article-athlets, .card-article-players {
  position: relative;
}

.title-article-athlets, .title-article-players {
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ffffff;
}

.article-img-conteiner-footballer, .article-img-conteiner-basketballer {
  position: absolute;
} 

.article-content-part-connection, .article-content-part-collaboration, .article-content-part-growth {
  width: 100vw;
}

.article-content-part-connection {
  background-color: #fafafa;
}

.article-content-part-collaboration {
  background-color: #f5f4f9;
}

.article-content-part-growth {
  background-color: #090c35;
}

.article-title-group, .article-title-group-basketballer {
  display: flex;
  align-items: center;
}

.article-content-part-number {
  color: #000000;
  font-weight: bold;
  border-bottom: 4px solid #5e42b0;
}

.article-content-part-number-growth {
  border-bottom: 4px solid #ffffff;
  color: #8765dd;
  font-weight: bold;
}

.article-content-part-title {
  padding-left: 10px;
  color: #c1c1c1;
  font-weight: bold;
}

.article-content-part-text, .article-content-part-text-basketballer {
  color: #000000;
}

.article-content-part-text-growth, .article-content-part-text-growth-basketballer {
  color: #ffffff;
}

.section-card-img-conteiner, .section-card-img-conteiner-find-contact {
  position: relative;
}

.section-card-numder-conteiner, .section-card-numder-conteiner-find-contact {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e42b0;  
}

.section-card-numder, .section-card-numder-find-contact {
  color: #f5f6f7;
  font-weight: bold;
  position: relative;
}


.section-card-numder::after, .section-card-numder-find-contact::after {
  content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom:-3px;
    height: 4px;
    background-color: #8f7bc8;
    border-radius: 4px;
}




.section-card-title-and-text-conteiner, .section-card-title-and-text-conteiner-find-contact {
  background-color: #ffffff;
}

.section-card-title, .section-card-title-find-contact {
  color: #e7e7e7;
  font-weight: bold;
}

.section-card-text, .section-card-text-2 {
  color: #000000;
}

.site-footer-container {
  min-height: 565px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer-logo-title-container {
  display: flex;
  aling-items:  center;
}

.short-logo-container {
  margin-left: auto;
  margin-right: auto;
  margin: 100px auto 60px; 
  background: linear-gradient(to top, #51379a, #7554d5);
  border-radius: 25px;
}

.footer-title-top {
  font-weight: bold;
  color: #ffffff; 
}


@media (max-width: 319px) {
  body {
    min-width: 0px;
  }
  
  .site-header {
    padding-top: 39px; 
}
  
  .long-logo-container {
    width:  134px;
    height: 36px;
    margin-bottom: 135px;
}
  
  .header-title-group-conteiner {
    margin-bottom: 90px;
}
  
  .header-title-group {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    max-width: 87.6vw;
}
  
  .site-title-bottom {  
    padding-left: 14.1vw;
    padding-bottom: 90px; 
}
  
  .button-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 84px;
}

  .button-download {
    width: 87.5vw;
    height: 35px;
    margin-left: auto;
    margin-right: auto; 
}

  .button-download:first-child {
    margin-bottom: 14px; 
}

  .botton-link {
    font-size: 8px;
}

  .download-icon {
    width: 20px;
    height: 25px;
}

  .botton-link-text-conteiner {
    margin-left: 5px;
}
    
  .title-article-athlets, .title-article-players  {
    font-size: 50px;
    padding-top: 25px;
    padding-left: 6.25vw;
    padding-bottom: 245px;
    ppadding-right: 6.25vw;
}
  
  .card-article-athlets, .card-article-players {
    position: relative;
}
  
  .article-img-conteiner-footballer {
    left: 21.87vw;
    top: 80px;
}
  
  .image-footballer {
    max-width: 55.31vw;
    height: auto;
}
  
   .article-img-conteiner-basketballer {
    left: 3.75vw;
    top: 80px;
}
  
  .image-basketballer {
    max-width: 94vw;
    height: auto;
}

  .article-title-group, .article-content-part-text, .article-content-part-text-growth, .article-title-group-basketballer, .article-content-part-text-basketballer, .article-content-part-text-growth-basketballer {
    padding-left: 6.2vw;
    padding-right: 6.2vw;
}
 
  .article-title-group, .article-title-group-basketballer {
    padding-top: 83px; 
    padding-bottom: 25px;
}
  
  .article-content-part-number, .article-content-part-number-growth {
    font-size: 14px;
}
   
  .article-content-part-title {
    font-size: 23px;
}
  
  .article-content-part-text, .article-content-part-text-growth, .article-content-part-text-basketballer, .article-content-part-text-growth-basketballer {
    padding-bottom: 55px; 
    font-size: 15px;
}  
  
  
  .section-image, .section-image-find-contact {
    height: auto;
    width: 100vw;
}
  
  
  .section-card-numder-conteiner, .section-card-numder-conteiner-find-contact {
    bottom: -12px;
    left: 20px; 
    width:  70px;
    height: 70px;
}
  
  .section-card-numder, .section-card-numder-find-contact {
    font-size: 14px;
}
  
  .section-card-title, .section-card-title-find-contact {
    font-size: 28px;
    padding-left: 6.2vw;
    padding-top: 16%;
    padding-right: 6.2vw;
    margin-bottom: 25px; 
}

  .section-card-text, .section-card-text-find-contact {
    font-size: 16px;
    padding-left: 6.2vw;
    padding-right: 6.2vw; 
    padding-bottom: 67px;
}

  .site-footer-container {
  background-color: #0c1833;
}

  
  .footer-logo-title-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
} 
  
    
  .short-logo-container {
  width:  74px;
  height: 74px;
}
  
  .short-logo {
  padding: 12px 8px;
  width:  57px;
}

  
  .footer-title-group {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 76px;
    padding-left: 20px;
}

  
  .footer-title-top {
    font-size: 32px;
}

  .footer-title-bottom {
    font-size: 14px;
    color: #9b8ec1;
}
  
  .footer-long-logo-container {
  margin-bottom: 10px;
}
}

@media (min-width: 320px) and (max-width: 767px), (orientation: landscape)  {
  body {
    min-width: 320px;
}
  
  .site-header {
    padding-top: 33px; 
}

  .long-logo-container {
    width:  205px;
    height: 59px;
    margin-bottom: 135px;
}
  
  .header-title-group-conteiner {
    margin-bottom: 222px; 
}  
  
  .header-title-group {
    font-size: 64px;
    max-width: 76.6vw; 
    margin-left: auto;
    margin-right: auto;
}

  .site-title-bottom {  
    padding-left: 25.5vw;
}
  
  .button-group {
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
}
  
  .button-download {
    width: 310px;
    height: 77px;
}

  .button-download:first-child {
    margin-right: 53px; 
}
  
  .botton-link {
    font-size: 14px;
}

  .download-icon {
    width: 41px;
    height: 48px;
}

  .botton-link-text-conteiner {
    margin-left: 24px;
}
  
  .title-article-athlets, .title-article-players {
    padding-top: 86px;
    padding-bottom: 62px;
    padding-left: 38vw;
    padding-right: 4.2vw;
    font-size: 80px;
}
  
  .card-article-athlets, .card-article-players {
    position: relative;
}
  
  .article-img-conteiner-footballer {
    left: -27vw;
    top: 94px;
}
  
  .image-footballer {
    height: auto;
}
  
  .article-img-conteiner-basketballer {
    right: -7vw;
    top: 64px;
}
  
  .image-basketballer {
    height: auto;
}

  .article-title-group, .article-content-part-text, .article-content-part-text-growth {
    padding-left: 38vw;
    padding-right: 4.2vw;
}

  .article-title-group, .article-title-group-basketballer {
    padding-top: 42px; 
    padding-bottom: 31px;
}
  
  .article-content-part-number, .article-content-part-number-growth {
    font-size: 18px;
  }
    
  .article-content-part-title {
    font-size: 32px;
}
  
  .article-content-part-text, .article-content-part-text-growth, .article-content-part-text-basketballer, .article-content-part-text-growth-basketballer {
    padding-bottom: 35px; 
    font-size: 16px;
}   
  
  .title-article-players {
    padding-top: 86px;
    padding-bottom: 60px;
    padding-left: 4.2vw;
 }
  
  .article-title-group-basketballer, .article-content-part-text-basketballer, .article-content-part-text-growht-basketballer {
    padding-left: 4.2vw;
    padding-right: 38vw;
}
  
  .section-image, .section-image-find-contact {
    width: 100vw; 
    height: auto;
}
    
  .section-card-numder-conteiner, .section-card-numder-conteiner-find-contact {
    bottom: -36px;
    left: 32px; 
    width:  115px;
    height: 115px;
 }
  
  .section-card-numder, .section-card-numder-find-contact {
    font-size: 24px;
}
  
  
  .section-card-title, .section-card-title-find-contact {
    font-size: 80px;
    padding-left: 4.2vw;
    padding-top: 27%;
    padding-right: 4.2vw;
    margin-bottom: 38px; 
}
    
  .section-card-text, .section-card-text-find-contact {
    font-size: 24px;
    padding-left: 4.2vw;
    padding-right: 4.2vw; 
}  
    
   .site-footer-container {
  background-color: #0d153b;
}
  
  .footer-logo-title-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
  
    
  .short-logo-container {
    width:  130px;
    height: 138px;
}
 
  
 .short-logo {
   padding: 25px 12px;
   width:  103px;
}
  
  .footer-title-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 323px;  
    margin-right: auto;
    width: 92vw;
}
  
   .footer-title-top {
    font-size: 80px;
}

  .footer-title-bottom {
    font-size: 36px;
    color: #a496ca;
}
  
  .footer-long-logo-container {
    margin-bottom: 23px;
}
  
}

@media (min-width: 768px) and (max-width: 1920px), (min-width: 1921px)  {
  body {
    min-width: 768px;
}
  
  .site-header {
    padding-top: 45px; 
}
  
  .long-logo-container {
    width:  190px;
    height: 56px;
    margin-bottom: 135px;
} 
  
  .header-title-group-conteiner {
    margin-bottom: 222px; 
}  
  
  .header-title-group { 
    width: 80vw;
    max-width: 1530px;
    font-size: 90px;
    padding-bottom: 26px;
}

  .site-title-bottom {  
    padding-left: 29.46%;  
}
  
  .button-group {
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
}
  
  .button-download {
    width: 310px;
    height: 77px; 
}

  .button-download:first-child {
    margin-right: 53px; 
}
  
  .botton-link {
    font-size: 14px;
}

  .download-icon {
    width: 41px;
    height: 48px;
}

  .botton-link-text-conteiner {
    margin-left: 24px;
}
 
  .card-article-athlets {
    max-width: 1920px;
    position: relative;
} 
  
  .title-article-athlets {
    padding-left: 52.5%;
    padding-right: 10%;
} 
  
  .title-article-players {
    padding-left: 10%;
    padding-right: 56.9%;
} 
  
  .title-article-athlets, .title-article-players  {
    font-size: 80px;
    padding-top: 116px;
    padding-bottom: 109px;
}
 
  .article-img-conteiner-footballer {
   left: 0;
    top: 27px;
    margin-left: 20%;
    max-width: 30%;
} 
  
  
  .image-footballer {
    padding-left: 21%;
    max-width: 100%;
    height: auto;
}
  
  .card-article-players {
    max-width: 1920px;
    position: relative;
} 
  
  
  .article-img-conteiner-basketballer {
    right: 0;
    top: 30px;
} 
  
  .image-basketballer {
    padding-left: 46%;
    max-width: 100%;
    height: auto;
 }
  
  .article-title-group, .article-content-part-text, .article-content-part-text-growth  {
    padding-left: 52.2%;
    padding-right: 3.2%;
} 
    
  .article-title-group-basketballer,  .article-content-part-text-basketballer, .article-content-part-text-growth-basketballer {
    padding-left: 10%;
    padding-right: 56.9%;
    width: 39.3%;
}
  
  .article-title-group, .article-title-group-basketballer {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  
  .article-content-part-number, .article-content-part-number-growth {
    font-size: 18px;
}
  
  .article-content-part-title {
    font-size: 36px;
}
    
  .article-content-part-text, .article-content-part-text-growth, .article-content-part-text-basketballer, .article-content-part-text-growth-basketballer {
  font-size: 20px;
  padding-bottom: 55px;
}  

  .section-cards {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section-card, .section-card-find-contact {
    display: flex;
    border: 0;
 }
  

  
  
  .section-card-img-conteiner,  .section-card-img-conteiner-find-contact, .section-card-title-and-text-conteiner, .section-card-title-and-text-conteiner-find-contact {
    width: 50%;
    max-width:  960px;
}
  
  
  .section-card-title-and-text-conteiner-find-contact .section-card-title-and-text-conteiner-find-contact {
    max-height: 80%;
}
  
  .section-card-title-and-text-conteiner-find-contact {
    order: -1;
}
  
  .section-image, .section-image-find-contact {
    height: auto;
    width: 100%;
}
 
  .section-image-find-contact {
    order: 2;
 }
  
    .section-image, .section-image-find-contact {
    max-width: 960px; 
 }
 
  
  .section-card-numder-conteiner, .section-card-numder-conteiner-find-contact  {
    top: 28%;
    width:  170px;
    height: 155px;
}
  
  .section-card-numder-conteiner-find-contact {
    left: -85px; 
 } 

  .section-card-numder-conteiner {
    left: calc(100% - 85px); 
}
  
  .section-card-numder, .section-card-numder-find-contact {
    font-size: 24px;
}

  
  .section-card-title, .section-card-title-find-contact  {
    font-size: 5rem;
    padding-top: 26%;
    margin-bottom: 38px; 
}
  
  .section-card-title-find-contact,  .section-card-text-find-contact {
    padding-left: 20.8%;
    padding-right: calc(85px + 3.4375%);
 }
  
  .section-card-title, .section-card-text  {
    padding-left: calc(85px + 4.375%);
    padding-right: 6.71vw;
 }
  
  .section-card-text, .section-card-text-find-contact  {
    font-size: 24px;
}

  .site-footer-container {
    background-color: #202044;
} 
  
   .footer-logo-title-container {
     height: 130px;
     justify-content: center;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 150px;
     margin-top: 230px;
}
  
   .footer-title-group {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-left: 39px;
}
  
  .footer-title-top {
    font-size: 80px;
    padding-top: 10px;
}

  .footer-title-bottom {
    font-size: 30px;
    color: #a496ca;
}
  
  .short-logo-container {
    width:  130px;
    height: 138px;
    
}
  .short-logo {
    padding: 25px 12px;
    width:  103px;
}
  
  .footer-long-logo-container {
    margin-top: 260px;
    margin-bottom: 52px;
}
  
}

@media (min-width: 1921px) {
  body {
    min-width: 1921px;
}
  
  .header-title-group-conteiner {
    width: 1541px;
}  
  
 .article-img-conteiner-footballer {

   width: 960px;
}

  
  .title-article-athlets, .title-article-players, .article-title-group, .article-content-part-text, .article-content-part-text-growth, .article-title-group-basketballer,  .article-content-part-text-basketballer, .article-content-part-text-growth-basketballer, .article-content-part-text, .article-content-part-text-basketballer,   .section-card-title, .section-card-title-find-contact, .section-card-text, .section-card-text-find-contact {
     width: 960px;
  }
  
    .title-article-players,    .article-title-group-basketballer,  .article-content-part-text-basketballer,  .article-content-part-text-basketballer, .article-content-part-text-growth-basketballer {
     margin-left: calc(50vw - 960px);
  }
  
  .card-article-athlets {
    width: 1920px;
  }

 
  .section-cards {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  
 

.section-image, .section-image-find-contact {
    max-width: 960px;
}
}
